= form_for @pharmacy do |f|
  .row
    .col-md-6
      .form-group
        .row
          .col-md-4
            = f.label :number
          .col-md-6
            = f.number_field :number, class: 'form-control'
      .form-group
        .row
          .col-md-4
            = f.label :address
          .col-md-6
            = f.text_field :address, class: 'form-control'
      .form-group
        .row
          .col-md-4
            = f.label :subway
          .col-md-6
            = f.text_field :subway, class: 'form-control'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
