=breadcrumb_tag do
  %li
    = link_to t('app.administration'), root_path
  %li.active
    = t('app.medicines.index')
%br
%br

.list-group
  - @medicines.each do |medicine|
    - content = render('medicine_attributes', medicine: medicine)
    %a{class: 'list-group-item', data: {content: "#{content}"}}
      = medicine.name


= link_to new_medicine_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.medicine')
