= form_for @medicine_category do |f|
  .row
    .col-md-6
      .form-group
        .row
          .col-md-4
            = f.label :medicine_id
          .col-md-6
            = select(:medicine_category, :medicine_id, Medicine.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :data => {'style' => "btn-primary"}, :class => 'form-control')
      .form-group
        .row
          .col-md-4
            = f.label :category_id
          .col-md-6
            = select(:medicine_category, :category_id, Category.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :data => {'style' => "btn-primary"}, :class => 'form-control')

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
